/*
* CSS for the grid (tables).
*/

.jsgrid-grid-header,
.jsgrid-grid-body{
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Hide vertical scrollbar */
}

.review-container {
  margin-top: 45px;
  margin-left: -245px;
  width: 1650px;
  color: #FFFFFF;
}

.review-container-label {
  color: #FFFFFF;
}

.pending-reviews-container,
.open-reviews-container {
  margin-top: -15px;
  padding: 10px 10px 10px 10px;
}

.btn-grid {
  margin-right: 1px;
  margin-left: 1px;
  width: 30px;
}

.jsgrid-header-row>.jsgrid-header-cell,
.jsgrid-filter-row>.jsgrid-cell,
.jsgrid-edit-row>.jsgrid-cell,
.jsgrid-insert-row>.jsgrid-cell,
.jsgrid-nodata-row>.jsgrid-cell {
  color: #FFFFFF;
  background: #1E1E1E;
  background-color: #1E1E1E;
  text-align: center;
  font-size: 1.1em;
  font-weight: normal;
  border: none !important;
}

.jsgrid-row>.jsgrid-cell,
.jsgrid-alt-row>.jsgrid-cell {
  color: #FFFFFF;
  background: #1E1E1E;
  background-color: #1E1E1E;
  border: none !important;
}

.jsgrid-grid-header,
.jsgrid-grid-body,
.jsgrid-table,
.jsgrid-cell {
  border: none !important;
}