.modal-background {
  background-color: black;
  color: white;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; 
}

.btn-modal {
  margin-left: 5px;
  -webkit-app-region: no-drag;
}

.table-user-info {
  background-color: black;
  color: white;
}