/*
* CSS for the modals.
*/

.modal-background {
  background-color: #1E1E1E;
  color: #FFFFFF;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-style: solid;
  border-width: thin;
  border-color: #000000;
}

.modal-footer {
  border-width: 0px;
}

.btn-modal {
  margin-left: 5px;
  -webkit-app-region: no-drag;
}

.table-user-info {
  background-color: black;
  color: #FFFFFF;
}

.radio-input-group {
  padding-top: 5px;
}

.review-info-div {
  padding-top: 15px;
  padding-bottom: 10px;
}

.create-review-table {
  margin: 0px auto;
}

.reviewer {
  margin-left: 5px;
}

.login-modal {
  margin:0 auto;
  text-align: center;
}

.login-modal-content,
.login-modal-background {
  border-style: none;
  border-width: 0px;
  border-color: #1E1E1E;
}

.jira-search-key-input {
  margin-top: 10px;
}