/*
* CSS for the Navigation bar.
*/

.navbar {
  background-color: #000000;
  -webkit-app-region: drag;
}

.side-nav-content {
  -webkit-app-region: no-drag;
}

.top-nav-content {
  -webkit-app-region: no-drag;
}

.nav-btn {
  width: 225px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.nav-btn-sml {
  width: 50px;
  margin-top: -5px;
  margin-left: 20px;
  background-color: #000000;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.side-nav-btn-list {
  margin-top: -15px;
}

.navbar-brand-label {
  font-family: 'Mina', sans-serif; /* Apply Google's Font */
  color: #FFFFFF;
  display: inline-block;
  font-size: 1.2em;
  margin-left: 5px;
}