/*
* CSS for the side-nav.
*/

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #000000;
  color: #FFFFFF;
  transition: all 0.5s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transition-delay: 0.1s;
  transform-origin: top left;
  height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  padding: 29px;
  background: #000000;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #000000;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #FFFFFF;
  transition: all 0.6s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.1s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}

#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

#sidebar ul.list-components {
  padding: 10px 0;
}

/*
 * Media Queries to auto-toggle the side-nav.
 */
@media (max-width: 1940px) {
  #sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);
  }
  #sidebar.active {
    margin-left: 0;
    transform: none;
  }
  #sidebarCollapse span:first-of-type, #sidebarCollapse span:nth-of-type(2), #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  #sidebarCollapse.active span {
    margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
}